# Replace 'fullstack-starter.gregory-artaud.fr' with the final app domain name
fullstack-starter.gregory-artaud.fr {
	handle /api* {
		reverse_proxy /api* backend:3333
	}

	handle {
		root * /srv
    try_files {path} /index.html
    file_server
	}
}