# Replace 'fullstack-monorepo-starter.gregory-artaud.fr' with the final app domain name
http://fullstack-monorepo-starter.gregory-artaud.fr/api* {
	redir /api /api/
	reverse_proxy backend:3333
}

fullstack-monorepo-starter.gregory-artaud.fr {
	root * /srv
	try_files {path} /index.html
	file_server
}